//- Header Banner
header
    .header__topLinks.bg-primary.py-1
            .container
                .row.align-items-center
                    .col-lg-12
                        .hstack.justify-content-end.gap-3.bg-primary
                            a.link-light.small.ff-oswald.text-decoration-none(href="#") Staff
                            .vr
                            a.link-light.small.ff-oswald.text-decoration-none(href="#") Alumni
                            .vr
                            a.link-light.small.ff-oswald.text-decoration-none(href="#") Parents
                            .vr
                            a.link-light.small.ff-oswald.text-decoration-none(href="#") Admission Online
    .header__banner.bg-white.py-3
        .container
            .row.align-items-center
                .col-lg-2.text-start
                        img.img-fluid(src=baseURL+"assets/images/aees-logo.png", alt="Atomic Energy Central School Narwapahar Logo", width="120")
                .col-lg-8
                        div.d-flex.flex-column.align-items-center.gap-2
                            h5.fw-bold.m-0 परमाणु ऊर्जा केंद्रीय विद्यालय, नरवापहाड़ - ८३२१११
                            h6.text-secondary.m-0 परमाणु ऊर्जा विभाग का स्वायत्त निकाय, भारत सरकार
                            hr.w-25.m-0
                            h1.h4.text-uppercase.fw-bold.m-0 Atomic Energy Central School, Narwapahar - 832111
                            h6.text-secondary.fw-normal.m-0 An autonomus body under Department Of Atomic Energy, Govt. Of India | Affiliated to CBSE
                .col-lg-2.text-end
                    img.img-fluid(src=baseURL+"assets/images/50years-aees-logo.jpg", alt="Atomic Energy Central School Narwapahar Logo", width="100")

//- Main Navbar
nav.navbar.navbar-expand-lg.bg-dark(data-bs-theme="dark")
    .container
        span.navbar-brand.fw-bold.text-secondary.d-lg-none MENU
        button.navbar-toggler(
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarContent"
            aria-controls="navbarContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
        )
            | #[i.fa.fa-bars]
        #navbarContent.collapse.navbar-collapse
            ul.navbar-nav.me-auto.mb-2.mb-lg-0
                li.nav-item
                    a.nav-link(href="/") Home
                li.nav-item.dropdown
                    a.nav-link.dropdown-toggle(href="#", role="button", data-bs-toggle="dropdown", aria-expanded="false")
                        | About Us
                    ul.dropdown-menu
                        li
                            a.dropdown-item(href=baseURL+"about-us/our-history.html") Our History
                        li
                            a.dropdown-item(href=baseURL+"about-us/principal-message.html") Principal's Message
                        li
                            a.dropdown-item(href=baseURL+"about-us/our-mission-and-vision.html") Our Mission &amp; Vision
                li.nav-item.dropdown
                    a.nav-link.dropdown-toggle(href="#", role="button", data-bs-toggle="dropdown", aria-expanded="false")
                        | Academics
                    ul.dropdown-menu
                        li
                            a.dropdown-item(href="#") Link 1
                        li
                            a.dropdown-item(href="#") Link 2
                        li
                            a.dropdown-item(href="#") Link 3
                li.nav-item.dropdown
                    a.nav-link.dropdown-toggle(href="#", role="button", data-bs-toggle="dropdown", aria-expanded="false")
                        | Facilities
                    ul.dropdown-menu
                        li
                            a.dropdown-item(href="#") Link 1
                        li
                            a.dropdown-item(href="#") Link 2
                        li
                            a.dropdown-item(href="#") Link 3
                li.nav-item.dropdown
                    a.nav-link.dropdown-toggle(href="#", role="button", data-bs-toggle="dropdown", aria-expanded="false")
                        | Students Corner
                    ul.dropdown-menu
                        li
                            a.dropdown-item(href="#") Link 1
                        li
                            a.dropdown-item(href="#") Link 2
                        li
                            a.dropdown-item(href="#") Link 3
                li.nav-item
                    a.nav-link(href="#") New &amp; Events
                li.nav-item
                    a.nav-link(href="#") Gallery
                li.nav-item
                    a.nav-link(href="#") Contact Us